<div class="inner-div">
  <!-- beginning of inner div -->
  <mat-card  layout="row" layout-align="center center"
    ><!-- beginning of inner card -->
    <mat-card-content>
      <mat-card-title>Your custom quote starts here.</mat-card-title>
      <mat-card-subtitle>This is going to be amazing!</mat-card-subtitle>

      <app-form [questions]="questions" ></app-form> 
      
    </mat-card-content
    ><!-- end of form --> 
    </mat-card
  ><!-- end of inner outer -->
</div>
<!-- end of inner div -->
